*{
    padding: 0;
    margin: 0;
    font-family: arabi, sans-serif;
    box-sizing: border-box;
    color: #fff;
}

:root{
    --s: 50px;
}

@font-face {
    font-family: arabi;
    src: url("fonts/NotoSansArabic-Regular.ttf");
}

body{
    background-color: #1f1f1f;
    height: 100vh;
}

header{
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    position: absolute;
    right: 50%;
    transform: translateX(50%);
}
header img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
    transition: 250ms;
}
header img:hover{
    box-shadow: 0 0 10px 5px #fff;
}
header h1{
    color: white;
}

.rightbar{
    width: 100px;
    height: 310px;
    border-radius: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    position: fixed;
    top: calc(50% - 155px);
    right: 20px;

    backdrop-filter: blur(10px);

    outline: 1px solid;
}
.rightbar a, .rightbar div{
    width: 80px;
    height: 80px;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
}
.rightbar a i{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}
.rightbar a:hover, .rightbar a.active{
    background-color: #fff;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
    color: #1f1f1f;
}
.rightbar a:hover i, .rightbar a.active > i{
    color: #1f1f1f;
}
.rightbar div span#tooltip{
    display: none;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 55px;
    position: absolute;
    right: 130px;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    border-radius: 10px;
    z-index: 1;
}
.rightbar div span#tooltip::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border: 15px solid;
    border-color: #0000 #0000 #0000 #000;
}
.rightbar div:hover span#tooltip{
    display: flex;
}


@media (max-width: 1525px){
    .rightbar{
        position: absolute;
        width: 500px;
        height: 100px;
        border-radius: 50px;
        flex-direction: row;
        top: 120px;
        right: 50%;
        transform: translate(50%, 0);

        justify-content: center;
        gap: 50px;
    }
}

@media screen and (max-width: 500px) {
    header img{
        width: 20%;
        height: auto;
    }
    header h1{
        font-size: 25px;
    }
    .rightbar{
        position: sticky;
        width: 80%;
        height: 100px;
        border-radius: 50px;
        flex-direction: row;
        top: 120px;
        right: 40px;
    }
    .rightbar div span#tooltip{
        right: -70px;
        top: 140px;
    }
    .rightbar div span#tooltip::before{
        content: "";
        position: absolute;
        top: -20%;
        left: 45%;
        border: 15px solid;
        border-color: #0000 #0000 #000 #0000;
    }
}
@media screen and (max-width: 400px) {
    .rightbar{
        justify-content: space-evenly;
    }
    .rightbar a, .rightbar div{
        width: var(--s);
        height: var(--s);
    }
    .rightbar a i{
        font-size: 30px;
        width: 100%;
        height: 100%;
    }
    .rightbar a:hover, .rightbar a.active{
        background-color: #fff;
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
        color: #1f1f1f;
    }
    .rightbar div span#tooltip{
        position: relative;
        right: -70px;
        top: 50px;
        width: 200px;
    }
    .rightbar div span#tooltip::before{
        content: "";
        position: absolute;
        top: -20%;
        left: 45%;
        border: 15px solid;
        border-color: #0000 #0000 #000 #0000;
    }
}