#whoami{
    width: min(80vw, 1300px);
    height: 530px;
    position: absolute;
    top: max(50%, 1200px);
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#whoami img{
    width: 300px;
    height: 370px;
    margin: 30px 0;
    border-radius: 20px;
}
#whoami p{
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
    margin-top: 10px;
}